<link rel="stylesheet" href="/stylesheets/navbar.css" />
<link rel="stylesheet" href="stylesheets/common.css" />

<nav class="navbar navbar-expand-lg navbar-estilos">
  <div class="container-fluid">
    <img src="" alt="">
    <a class="navbar-brand" href="/">GlowStyle</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="#"></a>
        </li>
       
      </ul>
      <form class="d-flex" action="/design/search" method="get">
        <input class="formnav form-control me-2" autocomplete="off" type="search" placeholder="Search designs" aria-label="Search" name="query">
        <button type="submit">Search</button>
      </form>
      <div class="d-flex ms-4">
        <button  onclick="window.location.href='/designer/register'">Register</button>
        <button  onclick="window.location.href='/designer/loginForm'">Log in</button>
      </div>
    </div>
  </div>
</nav>