section{

  img{

    width: 100%;
    min-width: 300px;
    max-width: 450px;
    max-height: 650px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: var(--color-box-shadow);
    margin-top: 20px;
  }

  .card-title {
    color: var(--color-rosa-title);
    font-style: italic;
  }

  p {
    font-size: 20px;
    font-style: italic;
    
  }
  .negrita{
    font-weight: bold;
    font-size: 20px;
  }
  a {
    color: #ff4d88;
    text-decoration: none;
  }
  
}